@model IEnumerable<Elections.Models.Candidate>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.State)</th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Church)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Reasons)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Background)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Submitter)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(x => x.CreatedDate)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.State)
                @*@if(item.Selected)
                {
                    <span class="glyphicon glyphicon-star"></span>
                }*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Church)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Reasons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Background)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Submitter)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Manage</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
